---
title: "Contact";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="border-l-4 border-emerald-400 pl-6 space-y-6">
    <h1 class="text-4xl font-bold">Contact</h1>
    <ul class="gap-2 flex flex-col">
      <li>
        Email: <a href="mailto:pythonatsea@duck.com">pythonatsea@duck.com</a>
      </li>
      <li>
        Github: <a
          href="https://github.com/pythonatsea"
          target="_blank"
          rel="noopener noreferrer">pythonatsea</a
        >
      </li>
      <li>
        Hack Club Slack: <a
          href="https://hackclub.slack.com/team/U078RA454JH"
          target="_blank"
          rel="noopener noreferrer">pythonatsea</a
        >
      </li>
      <li>
        Discord: pythonatsea
        <li>Phone: [ask me!]</li>
      </li>
    </ul>
  </div>
</Layout>
