---
import Layout from "../layouts/Layout.astro";
import ExternalLink from "../components/ExternalLink.astro";

type Status = "online" | "offline" | "dnd" | (string & {});

const status: Status = "offline";

const statusConfig: Record<
  string,
  { bgColor: string; textColor: string; animate: string; text: string }
> = {
  online: {
    bgColor: "bg-lime-500",
    textColor: "text-lime-500",
    animate: "animate-pulse",
    text: "online",
  },
  offline: {
    bgColor: "bg-gray-500",
    textColor: "text-gray-500",
    animate: "",
    text: "offline",
  },
  dnd: {
    bgColor: "bg-rose-600",
    textColor: "text-rose-600",
    animate: "animate-pulse",
    text: "locking in",
  },
};

const currentStatus = statusConfig[status] || {
  bgColor: "bg-violet-500",
  textColor: "text-violet-500",
  animate: "animate-pulse",
  text: status,
};
---

<Layout>
  <div
    class="max-w-2xl border-l-4 border-(--color-primary) pl-6 flex flex-col space-y-6"
  >
    <h1 class="text-4xl font-bold flex flex-row items-center">
      Hey! I'm pythonatsea!<span
        class={`${currentStatus.animate} ${currentStatus.bgColor} rounded-full inline-block align-middle w-3 h-3 mx-3`}
      ></span>
    </h1>
    <h2 class="text-2xl font-semibold">
      Right now I'm <span class={currentStatus.textColor}
        >{currentStatus.text}</span
      >
    </h2>
    <p>
      I'm a homeschooled high schooler that's <strong>slightly</strong> obessed with
      robotics, specifically the <ExternalLink
        href="https://www.firstinspires.org/robotics/ftc"
        ><i>FIRST</i> Tech Challenge</ExternalLink
      >. Right now I'm on <ExternalLink href="https://ftcscout.org/teams/23521"
        >team 23521</ExternalLink
      >.
    </p>
  </div>
</Layout>
