---
import Layout from "../layouts/Layout.astro";

type Status = "online" | "offline" | "dnd" | (string & {});

const status: Status = "offline";

const statusConfig: Record<
  string,
  { bgColor: string; textColor: string; animate: string; text: string }
> = {
  online: {
    bgColor: "bg-green-500",
    textColor: "text-green-500",
    animate: "animate-pulse",
    text: "online",
  },
  offline: {
    bgColor: "bg-gray-500",
    textColor: "text-gray-500",
    animate: "",
    text: "offline",
  },
  dnd: {
    bgColor: "bg-rose-600",
    textColor: "text-rose-600",
    animate: "animate-pulse",
    text: "locking in",
  },
};

const currentStatus = statusConfig[status] || {
  bgColor: "bg-violet-500",
  textColor: "text-violet-500",
  animate: "animate-pulse",
  text: status,
};
---

<Layout>
  <div
    class="max-w-2xl border-l-4 border-emerald-400 pl-6 flex flex-col space-y-6"
  >
    <h1 class="text-4xl font-bold flex flex-row items-center">
      Hey! I'm pythonatsea!<span
        class={`${currentStatus.animate} ${currentStatus.bgColor} rounded-full inline-block align-middle w-4 h-4 mx-3`}
      ></span>
    </h1>
    <h2 class="text-2xl font-semibold">
      Right now I'm <span class={currentStatus.textColor}
        >{currentStatus.text}</span
      >
    </h2>
    <p>
      I'm a homeschooled high schooler that's <strong>slightly</strong> obessed with
      robotics, specifically the <i>FIRST</i> Tech Challenge.
    </p>
  </div>
</Layout>
