---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="max-w-2xl border-l-4 border-emerald-400 pl-6 flex flex-col space-y-6"
  >
    <h1 class="text-4xl font-bold font-mono">Hey! I'm pythonatsea!</h1>
    <h2 class="text-2xl font-semibold">
      Right now I'm <a href="#">locking in</a>
    </h2>
    <p>
      Atque aut facere quo quibusdam quia. In dolor sit ipsa molestiae
      consequuntur atque dolorem. Molestiae et quia tenetur sint velit. Aut
      praesentium facilis provident et rerum nesciunt. Sapiente similique quo
      consequatur. Qui quis alias eos ea eos. Maxime id tempora officiis et qui
      non neque. Dolores ducimus consequatur quos dolores tenetur at id. Dicta
      ducimus et et ex. Sit eius numquam qui. Aspernatur voluptas deleniti aut
      porro consectetur laborum. Dolorum omnis ab blanditiis odio quaerat vero
      quisquam dignissimos. Beatae iure consequuntur harum aut amet ex facilis.
      Sint voluptatem deleniti provident quis molestiae. Dolorem vitae
      voluptatem eaque modi perspiciatis enim. Aut dolorum et distinctio et
      voluptas. <a>Fugit</a> saepe exercitationem vel cupiditate odit animi magni.
      Error laudantium est quae voluptatem consequatur earum atque consequatur. Provident
      iusto rem atque magni. Iure et occaecati non et accusantium. Cupiditate natus
      sint deleniti quo tempora veritatis. Eveniet culpa ad error. Maiores excepturi
      dolores occaecati sed. Aut quod cum consequatur sapiente ipsa atque.
    </p>
  </div>
</Layout>
