---
import { ArrowUpRight } from "lucide-astro";

interface Props {
  href: string;
  class?: string;
  noIcon?: boolean;
}

const { href, class: className, noIcon } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class:list={["inline-flex flex-row items-center", className]}
  ><slot />{noIcon ? null : <ArrowUpRight class="inline w-4 h-4" />}
</a>
