---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="pythonatsea" />
    <meta name="theme-color" content="#1c1917" />
    <title>pythonatsea</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&family=Fira+Code:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-(--color-bg) text-(--color-text) flex flex-col min-h-screen">
    <header class="mb-10 mx-10 mt-5 flex flex-row space-x-5">
      <a href="/" class="text-xl font-black">/root</a>
      <a href="/blog" class="text-xl font-black">/blog</a>
      <a href="/contact" class="text-xl font-black">/contact</a>
    </header>
    <main class="flex-1 mx-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
